/* app css stylesheet */
html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.menu-form md-input-container {
  display: block;
}

.claim-form h4 {
  margin: 5px;
}

.claim-form md-input-container {
  min-width: 200px;
  margin: 5px;
}

.instructions * {
  margin: 10px;
  padding: 0px;
}

.instructions p {
  text-indent: 20px;
}

.game .md-subheader {
  padding: 0;
  line-height: 14px;
}

.board, .current-hand {
  margin-left: 15px;
}

.board md-icon {
  width: 60px;
  height: 60px;
}

.current-hand md-icon {
  width: 60px;
  height: 60px;
}

.current-hand md-icon:hover {
  color: #EF6C00;
  cursor: pointer;
}

.current-hand .selected {
  color: #F57C00;
}
