<section md-whiteframe="10" class="game">
  <md-toolbar class="md-accent">
    <div layout="column" class="md-toolbar-tools" layout-align="end start">
      <h1>Player {{$ctrl.currentPlayer + 1}}'s Turn</h1>
    </div>
  </md-toolbar>
  <md-content layout="column" layout-padding>
    <!-- Dice on the board -->
    <md-subheader>Board</md-subheader>
    <div class="board" layout="row" layout-wrap>
      <div ng-repeat="die in $ctrl.game.board track by $index">
        <md-icon ng-if="!$ctrl.endGame" md-svg-icon="dice-{{die}}"></md-icon>
        <md-icon
          ng-if="$ctrl.endGame"
          md-svg-icon="dice-{{die}}"
          ng-class="{ 'match': die === $ctrl.prevClaim.face }"
        ></md-icon>
      </div>
    </div>
    <!-- Previous claim if it exists -->
    <md-subheader>Previous Claim</md-subheader>
    <div ng-if="$ctrl.prevClaim" class="prev-claim">
      {{$ctrl.prevClaim.num}} <md-icon md-svg-icon="dice-{{$ctrl.prevClaim.face}}"></md-icon>
    </div>
    <div ng-if="!$ctrl.prevClaim" class="prev-claim">
      No claim yet
    </div>
    <!-- Current player's hand -->
    <md-subheader>
      Your Hand
      <span>
        <md-icon md-svg-icon="help-circle-outline"></md-icon>
        <md-tooltip md-direction="right">
          You may select one or more dice of the same face to move to the board. The remaining will be rerolled.
        </md-tooltip>
      </span>
    </md-subheader>
    <div class="current-hand" layout="row" layout-wrap>
      <div ng-repeat="die in $ctrl.currentHand track by $index">
        <md-icon
          md-svg-icon="dice-{{die.face}}"
          ng-click="$ctrl.toggleSelect($index)"
          ng-class="{ 'selected': die.selected }"
        ></md-icon>
      </div>
    </div>

    <!-- Claim input form -->
    <div layout="column" layout-align="center center">
      <form name="claimForm" class="claim-form">
        <h4>Make a higher claim</h4>
        <md-input-container>
          <label>Number of Dice</label>
          <input
            required
            type="number"
            name="claimNum"
            ng-model="$ctrl.claimNum"
            min="1"
            max="$ctrl.game.numPlayers * $ctrl.game.numDice"
            step="1"
            ng-pattern="/^[0-9]+$/"
          />
          <div ng-messages="menuForm.claimNum.$error">
            <div ng-message-exp="['required', 'min', 'max', 'pattern']">
              Please enter a valid number of dice.
            </div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Dice Face</label>
          <input
            required
            type="number"
            name="claimFace"
            ng-model="$ctrl.claimFace"
            min="1"
            max="6"
            step="1"
            ng-pattern="/^[1-6]$/"
          />
          <div ng-messages="menuForm.claimFace.$error">
            <div ng-message-exp="['required', 'min', 'max', 'pattern']">
              Please enter a valid dice face.
            </div>
          </div>
        </md-input-container>
      </form>
    </div>

    <div flex layout="row" layout-align="center end">
      <!-- Disable after challenge-->
      <md-button
        aria-label="Claim"
        class="md-raised md-secondary"
        ng-click="$ctrl.postClaim()"
        ng-disabled="$ctrl.endGame"
      >
        Claim
      </md-button>
      <!-- Disable on turn 1 or after challenge-->
      <md-button
        aria-label="Leave Game"
        class="md-raised md-secondary"
        ng-disabled="$ctrl.game.actions.length === 0 || $ctrl.endGame"
        ng-click="$ctrl.postChallenge()"
      >
        Challenge
      </md-button>
    </div>
  </md-content>
</section>
